{{ define "head" }}
  <!DOCTYPE html>
  <html>
    <head>
      <title>Todo App</title>
      
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
      <link rel="stylesheet" href="public/style.css">
      <link rel="icon" href="public/favicon.ico">
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js "></script>
      <script src="public/index.js"></script>
    </head>
  <body>
{{ end }}
